.active {
    background-color: aqua;
}

body {
    color: black;
    background-color: #7fffd4;
}

main{
    min-height: 70vh;
}


header,
footer{
    background-color: white;
    

}

#grid {
    width: 100%;
   
    flex-wrap: wrap;
}

.grid-element {
    border: solid thin black;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}